$main-font: 'Lato', sans-serif;
$font-color: #fff;
$additional-color: #222;
$font-size: 22px;
$font-height: 1.5; //line-height
$font-weight: 400;
$color-bg: #fff;


/** Grid variables **/
$container-width: 1200px;
$col-padding: 15px;